*{
	box-sizing: border-box;
}
@media(min-width: 992px){
	.col-lg-4{
		float: left;
		width: 33.33%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-4{
		float:left;
		width: 50%
	}
}
@media(min-width: 768px) and (max-width: 991px){
	.col-md-4-special{
		float:left;
		width: 100%
	}
}
@media (max-width: 767px){
	.col-sm-4{
		float: left;
		width:100%;
	}
}
h1{
	text-align: center;
	font-family: "Helvetica";
	font-size:180%;
}
#d1{
	background-color:	rgb(255, 194, 102);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 16px;
	border: 1px solid black;

}

#d2{
	background-color: rgb(77, 255, 77);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 16px;
	border: 1px solid black;
}
#d3{
	background-color: rgb(77,255,255);
	margin-left: 10px;
	margin-right: 10px;
	margin-top:16px;
	border: 1px solid black;
}

#p1b{
	padding: 10px;
	display: inline-block;
	margin-top:0px;
}
#p2b{
	padding: 10px;
	display: inline-block;
	margin-top: 0px;
}
#p3b{
	padding: 10px;
	display:inline-block;
	margin-top: 0px;
}
#p1a{
	float: right;
	margin:0px;
	background-color:rgb(140, 102, 255);
	clear: both;
	border: 1px solid black;
	font-family: roboto;
	font-size: 120%;
	padding: 10px;
	width:150px;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
}
#p2a{
	float: right;
	margin: 0px;
	background-color:rgb(173, 173, 133);
	clear: both;
	border: 1px solid black;
	font-family: roboto;
	font-size: 120%;
	padding: 10px;
	width:150px;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
}
#p3a{
	float: right;
	margin: 0px;
	background-color:rgb(255, 77, 136);
	clear: both;
	border: 1px solid black;
	font-family: roboto;
	font-size: 120%;
	padding: 10px;
	width:150px;
	text-align: center;
	border-radius: 5px;
	font-weight: bold;
}
p{
	font-family: "Comic Sans MS"
}
